<head>
    <style type="text/css">
    .social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

.social-links .link:visited {
  color: green;
}